.next {
  background-color: #F2F2F2;
  height: 370px;
  width: 100%;
}

.next h2 {
  text-align:center;
  padding: 34px;
}

.next .container {
  width: 900px;
}

// #section1 {
//   height: 60px;
//   opacity: 0;
//   margin-top: 84px;
// }

#section2 {
  height: 60px;
  background-color: #F2F2F2;
}

#section3 {
  height: 60px;
  background-color: #F3DCF5;
}

#section4 {
  height: 60px;
  background-color: black;
}

