<div class="banner", id="homebanner-margintop", style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "1001.jpg" %>)">
    <img src="<%= image_path "Logo.gif" %>" alt="logo GN">
</div>


<div class="footer d-flex">
  <div>
    <img src="<%= image_path "Logo.gif" %>" alt="logo GN"><h2>Collectif fondé en 2012 pour promouvoir la musique et une fête libre</h2>
  </div>
  <div>
  <a href="https://www.facebook.com/GuteNachtParty/" target="_blank">
    <i class="fab fa-facebook-square"></i>
  <a href="https://www.youtube.com/channel/UCMeF_15umYqxKc8t6o8jlTQ" target="_blank">
    <i class="fab fa-youtube"></i>
  <a href="https://www.instagram.com/gutenachtparty/?hl=fr" target="_blank">
    <i class="fab fa-instagram"></i>
  </div>
</div>

