.footer {
  text-align: center;
  padding: 20px;
  background-color: #2C2B2B;
  text-decoration: none;
  height: 140px;
}

.footer a {
  padding-left: 0px;
  font-size: 30px;
  margin: 0px auto;
  padding: 0px 20px;
  color: #98c5e2;
  text-decoration: none;
  text-align: center;
}

.footer h2 {
  font-size: 13px;
  color: white;
  margin-top: -24px;
}

.footer img  {
  width: 30px;
  height:30px;
}

.footer a:hover {
  color:#2CA1EF;
  text-decoration: none;
}

.fix-footer {
min-height: calc(100vh - 80px - 100px);
}
