.navbar-gn {
  justify-content: center;
  background: black;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
}

.navbar-collapse a {
  color:white;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 0px;
  border-bottom: 2px solid black;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 2px solid #65b9ed;
  color: white;
}

.navbar-gn .navbar-collapse {
  flex-grow: 0;
}

.navbar-gn img {
  width: 45px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
